In [1]:
#import all the libraries here
import numpy as np
import pandas as pd

##Task 1:	
Inspecting your Data.
	read and disect your datafile "kiwisaver_sample_wk9.csv" to figure out list of all possible dirty data problems in your data.

In [2]:
data=pd.read_csv('kiwisaver_sample_wk9.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    76 non-null     object
 1   Firm Name               76 non-null     object
 2   Branding Name           76 non-null     object
 3   Holdings                76 non-null     int64
 4   Global Category         76 non-null     object
 5   Morningstar Rating      40 non-null     float64
 6   Domicile                76 non-null     object
 7   Fund Legal Structure    76 non-null     object
 8   Equity Style            76 non-null     object
 9   Inception Date          76 non-null     object
 10  Manager Name            33 non-null     object
 11  Manager Tenure          33 non-null     float64
 12  Net Assets Date         75 non-null     object
 13  Net Assets Size         76 non-null     float64
 14  Net Assets Share Class  76 non-null     float64
dtypes: float64(4), int64(1), object(10)
memory usage: 9.0+ KB

In [3]:
# AssetData datatype is object
data.describe()

,Holdings,Morningstar Rating,Manager Tenure,Net Assets Size,Net Assets Share Class
count,76.000000,40.000000,33.000000,7.600000e+01,7.600000e+01
mean,863.592105,3.725000,7.423333,2.003937e+05,1.202362e+05
std,737.327538,0.905468,2.873019,3.982259e+05,2.389356e+05
min,30.000000,1.000000,1.500000,6.333030e+02,3.799820e+02
25%,150.500000,3.000000,5.330000,1.062991e+04,6.377949e+03
50%,867.500000,4.000000,9.420000,4.329163e+04,2.597498e+04
75%,1538.000000,4.000000,9.420000,1.364672e+05,8.188030e+04
max,2458.000000,5.000000,11.250000,2.468880e+06,1.481328e+06

In [4]:
# NULL values
# Morningstar Rating        36
# Manager Name              43
# Manager Tenure            43
# Net Assets Date            1

##Task 2:	
You must have noticed we have some data with missing "Morningstar Ratings", createa method and figure out a way to imputate the missing data

In [5]:
median=data['Morningstar Rating'].median()
def func(row):
    if pd.isnull(row['Morningstar Rating']):
        return median
    else:
        return row['Morningstar Rating']

In [6]:
data['Morningstar Rating']=data.apply(func, axis=1)
data['Morningstar Rating'].isnull().sum()

0

##Task 3:	
List all the unique "Equity Style"?   
What are the two most used and least used Equity Style?

In [7]:
print(data['Equity Style'].unique())
data.groupby('Equity Style')['Equity Style'].count()

['Mid Growth' 'Mid Blend' 'Large Growth' 'Large Blend' 'Mid Value']

Equity Style
Large Blend     28
Large Growth    33
Mid Blend        3
Mid Growth      10
Mid Value        2
Name: Equity Style, dtype: int64

In [8]:
# 2 most used Equity Styles
#    i) Large Growth    33
#    ii)Large Blend     28
# 2 least used Equity Styles
#   i) Mid Value        2
#   ii) Mid Blend       3

##Task 4:	
Mapping your data: Figure out a way to map the values of "Morningstar Rating" form [5,4,3,2,1] to ['Awsome','Good','Average','bad','Awful']

In [9]:
data['Rating']=data['Morningstar Rating'].map(lambda s: 'Awsome' if s==5 else 'Good' if s==4 else 'Average' if s==3 else 'bad'if s==2 else 'Awful' )
data[['Morningstar Rating','Rating']]

    Morningstar Rating   Rating
0                  3.0  Average
1                  4.0     Good
2                  3.0  Average
3                  3.0  Average
4                  4.0     Good
..                 ...      ...
71                 4.0     Good
72                 4.0     Good
73                 4.0     Good
74                 4.0     Good
75                 4.0     Good

[76 rows x 2 columns]

##Task 5:	
Data Aggregation using GroupBy.
	Using the datafile "Kiwisaver_sample_wk9.csv", group the Funds based on Branding Name and Equity Style.
	Report the average Holdings and Net Assets Size of the groups that you just created.

In [51]:
data.groupby(['Branding Name','Equity Style'])[['Holdings','Net Assets Size']].agg(np.mean)

                                     Holdings  Net Assets Size
Branding Name       Equity Style
AMP                 Large Growth  1544.000000     1.466660e+05
                    Mid Blend      689.000000     8.619230e+02
                    Mid Growth      92.000000     6.918946e+04
ANZ                 Large Growth  1543.111111     5.191668e+05
                    Mid Growth     438.666667     2.460913e+05
ASB                 Large Blend   1319.500000     1.191800e+06
                    Large Growth  1222.333333     5.645363e+03
Aon                 Large Blend    265.000000     1.911613e+04
                    Mid Growth     384.000000     8.220035e+04
Bank of New Zealand Large Blend   2456.800000     1.425594e+05
Fisher Funds        Large Growth   209.500000     6.073430e+05
Forsyth Barr        Large Growth   153.000000     1.142776e+04
Generate            Mid Blend       56.000000     1.074962e+05
                    Mid Growth     108.000000     5.560979e+04
Grosvenor           Large Blend    132.307692     6.634276e+04
                    Large Growth   113.000000     1.030267e+04
Mercer              Large Blend   1179.750000     2.424365e+04
                    Large Growth  1358.272727     1.039314e+05
                    Mid Growth      74.000000     1.881585e+03
Milford Funds       Mid Growth     429.000000     5.880018e+04
New Zealand Funds   Mid Value      183.500000     5.230530e+04
Simplicity NZ       Large Growth    54.333333     2.231201e+04
Staples Rodway      Large Blend    873.000000     7.621845e+03
                    Large Growth  1361.000000     1.521914e+04

##Task 6:	
Data Aggregation using pivot tables.	
	Similar to the previous task, you will be using the file "Kiwisaver_sample_wk9.csv". 
	Create a pivot table of average Holdings and Net Assets Size of Funds grouped by Branding Name and Equity Style (i.e. do the exact same thing as Task 1, but using a pivot table).

In [49]:
data.pivot_table(index=['Branding Name','Equity Style'],values = ['Holdings','Net Assets Size'],aggfunc =np.mean)

                                     Holdings  Net Assets Size
Branding Name       Equity Style
AMP                 Large Growth  1544.000000     1.466660e+05
                    Mid Blend      689.000000     8.619230e+02
                    Mid Growth      92.000000     6.918946e+04
ANZ                 Large Growth  1543.111111     5.191668e+05
                    Mid Growth     438.666667     2.460913e+05
ASB                 Large Blend   1319.500000     1.191800e+06
                    Large Growth  1222.333333     5.645363e+03
Aon                 Large Blend    265.000000     1.911613e+04
                    Mid Growth     384.000000     8.220035e+04
Bank of New Zealand Large Blend   2456.800000     1.425594e+05
Fisher Funds        Large Growth   209.500000     6.073430e+05
Forsyth Barr        Large Growth   153.000000     1.142776e+04
Generate            Mid Blend       56.000000     1.074962e+05
                    Mid Growth     108.000000     5.560979e+04
Grosvenor           Large Blend    132.307692     6.634276e+04
                    Large Growth   113.000000     1.030267e+04
Mercer              Large Blend   1179.750000     2.424365e+04
                    Large Growth  1358.272727     1.039314e+05
                    Mid Growth      74.000000     1.881585e+03
Milford Funds       Mid Growth     429.000000     5.880018e+04
New Zealand Funds   Mid Value      183.500000     5.230530e+04
Simplicity NZ       Large Growth    54.333333     2.231201e+04
Staples Rodway      Large Blend    873.000000     7.621845e+03
                    Large Growth  1361.000000     1.521914e+04

##Task 7: 
Still using the file "Kiwisaver_sample_wk9.csv", clean the dataframe if information related to Morningstar Rating and Manager Name is not available. 

Using either GroupBy or a pivot table, report the average Morningstar Rating for Funds managed by each of the managers in the file.

In [10]:
d="Not Available"
def func1(row):
    if pd.isnull(row['Manager Name']):
        return d
    else:
        return row['Manager Name']

In [11]:
# In the column  " Morning Rating" I have already replaced NaN values by median

In [12]:
data['Manager Name']=data.apply(func1, axis=1)

In [13]:
data['Manager Name'].isnull().sum()

0

In [48]:
data.pivot_table(index=['Morningstar Rating','Manager Name'],aggfunc =np.mean)

                                                 Holdings  Manager Tenure  \
Morningstar Rating Manager Name
1.0                David Beattie                77.000000        6.830000
2.0                David Beattie               149.000000        6.830000
                   David Beattie;Nic Craven;   174.000000        6.830000
3.0                David Beattie;Nic Craven;   173.666667        9.420000
                   John Smith                 1582.000000        9.420000
                   Not Available              1328.400000             NaN
                   Stuart Millar              1543.000000        9.420000
4.0                David Beattie               138.000000        4.363333
                   David Beattie;Nic Craven;   159.000000        2.670000
                   David Lewis                 361.000000        1.500000
                   John Smith                 1232.000000        9.420000
                   Mark Brighouse              209.500000        5.330000
                   Mark Brown                  147.000000        9.420000
                   Mark Brown;Craig Brown;     145.000000       11.250000
                   Not Available               835.588235             NaN
                   Phillip Houghton-Brown     1501.333333        2.943333
                   Stuart Millar              1456.666667        9.420000
5.0                Jonathan Windust            497.000000        6.920000
                   Not Available               706.000000             NaN
                   Stuart Millar              1543.000000        9.420000

                                              Net Assets Share Class  \
Morningstar Rating Manager Name
1.0                David Beattie                        2.508178e+03
2.0                David Beattie                        1.096150e+04
                   David Beattie;Nic Craven;            8.415670e+04
3.0                David Beattie;Nic Craven;            9.329424e+04
                   John Smith                           1.481328e+06
                   Not Available                        7.871735e+04
                   Stuart Millar                        3.779974e+04
4.0                David Beattie                        1.135344e+04
                   David Beattie;Nic Craven;            1.419072e+04
                   David Lewis                          1.419813e+04
                   John Smith                           4.596640e+05
                   Mark Brighouse                       3.644058e+05
                   Mark Brown                           1.023551e+04
                   Mark Brown;Craig Brown;              9.238034e+03
                   Not Available                        1.934135e+04
                   Phillip Houghton-Brown               5.452483e+04
                   Stuart Millar                        3.728470e+05
5.0                Jonathan Windust                     5.636209e+04
                   Not Available                        1.478174e+05
                   Stuart Millar                        4.571551e+05

                                              Net Assets Size
Morningstar Rating Manager Name
1.0                David Beattie                 4.180297e+03
2.0                David Beattie                 1.826917e+04
                   David Beattie;Nic Craven;     1.402612e+05
3.0                David Beattie;Nic Craven;     1.554904e+05
                   John Smith                    2.468880e+06
                   Not Available                 1.311956e+05
                   Stuart Millar                 6.299957e+04
4.0                David Beattie                 1.892240e+04
                   David Beattie;Nic Craven;     2.365119e+04
                   David Lewis                   2.366356e+04
                   John Smith                    7.661067e+05
                   Mark Brighouse                6.073430e+05
                   Mark Brown                    1.705919e+04
                   Mark Brown;Craig Brown;       1.539672e+04
                   Not Available                 3.223558e+04
                   Phillip Houghton-Brown        9.087472e+04
                   Stuart Millar                 6.214116e+05
5.0                Jonathan Windust              9.393681e+04
                   Not Available                 2.463624e+05
                   Stuart Millar                 7.619251e+05